Case Study 1 - Danny's Dinner

[https://8weeksqlchallenge.com/case-study-1/](https:\8weeksqlchallenge.com\case-study-1\)

Case Study Questions Each of the following case study questions can be answered using a single SQL statement:

1. What is the total amount each customer spent at the restaurant?
2. How many days has each customer visited the restaurant?
3. What was the first item from the menu purchased by each customer?
4. What is the most purchased item on the menu and how many times was it purchased by all customers?
5. Which item was the most popular for each customer?
6. Which item was purchased first by the customer after they became a member?
7. Which item was purchased just before the customer became a member?
8. What is the total items and amount spent for each member before they became a member?
9. If each $1 spent equates to 10 points and sushi has a 2x points multiplier - how many points would each customer have?
10. In the first week after a customer joins the program (including their join date) they earn 2x points on all items, not just sushi - how many points do customer A and B have at the end of January?

Bonus Questions
Join All The Things
The following questions are related creating basic data tables that Danny and his team can use to quickly derive insights without needing to join the underlying tables using SQL.

Recreate the following table output using the available data:

| **customer_id** | **order_date** | **product_name** | **price** | **member** |
|-----------------|----------------|------------------|-----------|------------|
| A               | 2021-01-01     | curry            | 15        | N          |
| A               | 2021-01-01     | sushi            | 10        | N          |
| A               | 2021-01-07     | curry            | 15        | Y          |
| A               | 2021-01-10     | ramen            | 12        | Y          |
| A               | 2021-01-11     | ramen            | 12        | Y          |
| A               | 2021-01-11     | ramen            | 12        | Y          |
| B               | 2021-01-01     | curry            | 15        | N          |
| B               | 2021-01-02     | curry            | 15        | N          |
| B               | 2021-01-04     | sushi            | 10        | N          |
| B               | 2021-01-11     | sushi            | 10        | Y          |
| B               | 2021-01-16     | ramen            | 12        | Y          |
| B               | 2021-02-01     | ramen            | 12        | Y          |
| C               | 2021-01-01     | ramen            | 12        | N          |
| C               | 2021-01-01     | ramen            | 12        | N          |
| C               | 2021-01-07     | ramen            | 12        | N          |

Rank All The Things
Danny also requires further information about the ranking of customer products, but he purposely does not need the ranking for non-member purchases so he expects null ranking values for the records when customers are not yet part of the loyalty program.

| **customer_id** | **order_date** | **product_name** | **price** | **member** | **ranking** |
|-----------------|----------------|------------------|-----------|------------|-------------|
| A               | 2021-01-01     | curry            | 15        | N          | null        |
| A               | 2021-01-01     | sushi            | 10        | N          | null        |
| A               | 2021-01-07     | curry            | 15        | Y          | 1           |
| A               | 2021-01-10     | ramen            | 12        | Y          | 2           |
| A               | 2021-01-11     | ramen            | 12        | Y          | 3           |
| A               | 2021-01-11     | ramen            | 12        | Y          | 3           |
| B               | 2021-01-01     | curry            | 15        | N          | null        |
| B               | 2021-01-02     | curry            | 15        | N          | null        |
| B               | 2021-01-04     | sushi            | 10        | N          | null        |
| B               | 2021-01-11     | sushi            | 10        | Y          | 1           |
| B               | 2021-01-16     | ramen            | 12        | Y          | 2           |
| B               | 2021-02-01     | ramen            | 12        | Y          | 3           |
| C               | 2021-01-01     | ramen            | 12        | N          | null        |
| C               | 2021-01-01     | ramen            | 12        | N          | null        |
| C               | 2021-01-07     | ramen            | 12        | N          | null        |

1. What is the total amount each customer spent at the restaurant?

In [3]:
SELECT sales.customer_id,
    SUM(menu.price) AS total_price
FROM sales 
INNER JOIN menu
    ON sales.product_id = menu.product_id
GROUP BY sales.customer_id;

customer_id,total_price
A,76
B,74
C,36

- How many days has each customer visited the restaurant?

`COUNT` and `DISTINCT` to count unique dates
`GROUP BY` customer_id

In [4]:
SELECT customer_id, 
    COUNT(DISTINCT(order_date)) AS total_days_visited
FROM sales
GROUP BY customer_id;

customer_id,total_days_visited
A,4
B,6
C,2

- <span style="color: var(--vscode-foreground);">What was the first item from the menu purchased by each customer?</span>